bde_copy
bde_copy_config.h
bde_copy_revision.h
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
debian/debhelper-build-stamp
debian/files
debian/linz-bde-copy/
debian/linz-bde-copy.debhelper.log
debian/linz-bde-copy.substvars
Makefile
obj-x86_64-linux-gnu/
testdata/output/
Testing/
/zlib124_masm_obj.zip
/zlib125.zip
