Source: linz-bde-copy
Section: misc
Priority: optional
Build-Depends: debhelper (>= 7), perl (>= 5.8), zlib1g-dev, cmake
Maintainer: Jeremy Palmer (LINZ) <jpalmer@linz.govt.nz>
Homepage: http://www.linz.govt.nz
Vcs-Svn: git://github.com/linz/linz_bde_linz_bde_copy.git
Vcs-Browser: https://github.com/linz/linz_bde_copy

Package: linz-bde-copy
Architecture: any
Depends: zlib1g
Recommends:
Description: Programme that extracts LINZ Bulk Data Extracts (BDE) files and
 optionally creates normalised files that are more suitable for loading into
 external systems.
