Source: linz-bde-copy
Section: misc
Priority: optional
Build-Depends: debhelper,
               perl,
               zlib1g-dev,
               cmake
Standards-Version: 3.9.5
Maintainer: Jeremy Palmer (LINZ) <jpalmer@linz.govt.nz>
Homepage: http://www.linz.govt.nz
Vcs-Git: git://github.com/linz/linz_bde_linz-bde-copy.git
Vcs-Browser: https://github.com/linz/linz-bde-copy

Package: linz-bde-copy
Architecture: any
Depends: ${perl:Depends},
         ${misc:Depends},
         ${shlibs:Depends},
         zlib1g
Recommends:
Description: Programme that extracts LINZ Bulk Data Extracts (BDE) files and
 optionally creates normalised files that are more suitable for loading into
 external systems.
