name: test

on:
  push:
    branches:
      - master
      - packagecloud
      - 'release-*'
    tags-ignore:
      - 'debian/*'
  pull_request:
    branches:
      - '*'

jobs:

  test:

    name: Test build
    runs-on: ${{ matrix.os }}
    strategy:
        matrix:
            os: [ ubuntu-18.04 ]
    env:
      APT: "apt-get -o Dpkg::Progress=0 -o Dpkg::Use-Pty=0"
    steps:
    - uses: actions/checkout@v1
    - name: Install dependencies
      run: |
        sudo ${APT} -qq install \
            cmake \
            debhelper \
            fakeroot
    - name: Build
      run: |
        mkdir build
        cd build
        cmake ..
        make
    - name: Test build
      run: |
        cd build
        make check
    - name: Install
      run: |
        cd build
        sudo -E make install
    - name: Test debian packaging
      run: |
        dpkg-buildpackage -b -us -uc
        sudo dpkg -i ../linz-bde-copy*.deb

  package:
    needs: test
    name: Package for Debian
    runs-on: ubuntu-18.04
    strategy:
        matrix:
            distro: [ 'bionic' ]
    steps:
    - uses: actions/checkout@v1

    - name: Determine packagecloud publication target
      run: |
        # TODO: it would be nice to turn this into a single-liner in
        #       github-action syntax
        echo "GitHub ref: ${{ github.ref }}"
        echo "GitHub event_name: ${{ github.event_name }}"
        REPO=
        if test "${{ github.event_name }}" = 'push'; then
          if expr "${{ github.ref }}" : "refs/tags/" > /dev/null; then
            REPO=test
            git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/$GITHUB_REPOSITORY
          else
            REPO=dev
          fi
        fi
        echo "REPO: $REPO"
        echo ::set-env name=REPO::"$REPO"

    - uses: linz/linz-software-repository@v4
      with:
        packagecloud_token: ${{ secrets.LINZCI_PACKAGECLOUD_TOKEN }}
        packagecloud_repository: ${{ env.REPO }}
